/* Style.CSS */


/* Reset */

* {
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: 0;
}

// /* My Styles */
.container {
    margin-bottom: 0;
}

.no-bottom {
    margin-bottom: 0;
}

.jumbotron {
    position: relative;
    overflow: show;
    background: #000 url('https://images.unsplash.com/photo-1430165558479-de3cf8cf1478?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a8d560cd877f002980248703b48efff0') center top;
    background-size: cover;
}

.jumbotron h1,
h2 {
    text-shadow: -2px -2px 5px #ccc;
}
#contacts i {
    font-size: 4em;
}
a:hover {
    text-decoration: none;
}
footer {
    padding: 2em 0;
}
#skills ul {
    list-style-position: inside;
}
#portfolio img {
    height: 240px;
    width: 320px;
}
@media (max-width: 755px) {
    .navbar-brand {
        width: 100%;
        clear: bottom;
        margin: 0 auto;
    }
    .navbar-brand img {
        margin: 0 auto;
    }
    h2, h4 {
        text-align: center;
    }
}
@media (max-width: 719px) {
    .navbar {
        text-align: center;
    }

}
